@{
    ViewBag.Title = "Página Inicial";
}
<div class="jumbotron">
    <h1>Trainee</h1>
    
    <p class="btn btn-lg">@Html.ActionLink("Cadastro de Cliente", "CadastroCliente", "Home")</p>
    <p class="btn btn-lg">@Html.ActionLink("Ver Clientes", "VerClientes", "Home")</p>
    <p class="btn btn-lg">@Html.ActionLink("Cadastro de Endereço", "CadastroEndereco", "Home")</p>
    <p class="btn btn-lg">@Html.ActionLink("Ver Endereços", "VerEnderecos", "Home")</p>
    <p class="btn btn-lg">@Html.ActionLink("Cadastro de Compra", "CadastroCompra", "Home")</p>
    <p class="btn btn-lg">@Html.ActionLink("Ver Compras", "VerCompras", "Home")</p>
</div>